#zpa-main-container .close{height: 30px !important;}
#zipperagent-content{ min-height:400px;}
/* .zy-margin{padding: 20px 15px 40px;overflow:hidden;} */
.zy-margin{padding: 20px 0 40px;overflow:hidden;}
/* .zy_main{margin-left:-15px; margin-right:-15px; padding-right:0 !important;} */
.zy_main h1{font-family:inherit;font-size:inherit;}
.zy_main button{}
.zy_main{overflow:hidden;}
.zy_nopadding{padding:0!important;}
.zy_nopaddingleft{padding-left:0 !important;}
.zy_nopaddingright{padding-right:0 !important;}
.zy-float-left{float:left;}
.zy-float-right{float:right;}
.zy_right-padding{padding:0!important;margin-left:15px!important;}
.zyapp_main-style{border-bottom:1px solid #ddd;padding:10px 0;}
.zy_header-style{}
.zy_address-style{margin-bottom: 0 !important;padding-bottom: 0 !important;font-size: 20px;line-height: 1.5em;font-weight: 500;font-style: normal;}
.zy_address-style h1{padding:0 !important;margin:0 !important;/* font-weight: 500; */}
.zy_subaddress-style{margin-bottom:0;font-size: 14px;line-height: 1.33em;font-weight: 400;font-style: normal;}
.zy_price-style{margin-bottom: 0 !important;padding-bottom: 0 !important;font-size: 20px;line-height: 1.5em;font-weight: 500;font-style: normal;text-align:center;}
.zy_price-style.zy_status-style{text-transform: uppercase;font-size: 14px;padding: 5px !important;}
.zy_price-mls h2{padding:0 !important; margin:0 !important;}
.zy_label-style{margin-bottom:0;font-size: 12px;line-height: 1.33em;font-weight: 400;font-style: normal;text-align:center;}

.zpa-status{background-color: #ccc;}

.zy_main .btn_wrap{text-align:center;padding:0;line-height: 1.2;}
.zy_main .btn_wrap span{font-size:12px;display:block; margin-top:5px;}
.zy_main .btn_wrap button{width:100%;}
.zy_schedule-showing, .zy_request-showing, .zy_share-property{border:1px solid #ddd;color:#000;font-size:20px;padding:8px;margin:0;text-align:center;background-color:#fff;line-height:0;}
.zy_schedule-showing:hover, .zy_request-showing:hover, .zy_share-property:hover{background-color:#ddd;}
.zy_save-property{border:1px solid #ddd;color:#000;font-size:20px;padding:8px;margin:0;text-align:center;background-color:#fff;line-height:0;}
.zy_save-property:hover, .zy_save-property.favorited{background-color:#F44336;color:#fff;}
.zy_save-property .active{background-color:#F44336;color:#fff;}

.zy_highlight-section{margin-top:20px;}
.zy_prop-details{margin:0;padding:0;}
.zy_prop-details li{list-style:none;border-bottom:1px solid #ddd;padding-bottom:2px;margin-bottom:2px;vertical-align:middle;padding-top:2px;display: flex;}
.zy_prop-details li label{font-weight:400;margin:0;}
.zy_prop-details li span{font-weight:600;font-size:15px;}

.zy_vitural-tour{margin-top:30px;}
.zy_vitural-tour a{text-transform:uppercase;color:#800!important;font-weight:600;font-size:40px;position:relative;display: inline-block;}
.zy_vitural-tour a span{font-size:13px;line-height: 1.0;float: right;padding-left: 5px;padding-top: 10px;width: 73px;}


.zy_agent-info{margin:0 !important;padding:0 !important;margin-top:30px;margin-bottom: 20px !important;}
.zy_agent-info h3{margin:0 !important; padding-bottom:10px !important;}
.zy_agent-info p, .zy_agent-info a{padding:0 !important; margin:0 !important;}
.zy_agent-info li{list-style:none;margin-top:20px;}
.zy_agent-pic{border-radius:50%;max-width:100px;max-height:100px;}
.zy_agent-email{display:block;}
.zy_agent-phone{margin-bottom:0;}

.zy_prop-fetaures{margin-top:30px;}
.zy_prop-highlight{margin:0;padding:0;}
.zy_prop-highlight li{list-style:none;padding-bottom:2px;margin-bottom:2px;vertical-align:middle;padding-top:2px;}
.zy_prop-highlight li label{font-weight:400;margin:0;border-bottom:1px solid #ddd;}
.zy_prop-highlight li span{font-weight:600;font-size:15px;border-bottom:1px solid #ddd;}

.zy_share-property-wrap{display: unset;position: relative;}
.zy_share-property-wrap.open>.dropdown-menu{min-width: 160px !important;padding: 10px 0 !important;left: -99px !important;top: 65px !important;right: 0 !important;}
.zy_share-property-wrap .dropdown-menu:before{content: '';width: 10px;height: 10px;position: absolute;top: -6px;left: 138px;background: #fff;-webkit-transform: rotate(135deg);transform: rotate(135deg);border-bottom-left-radius: 3px;border: 1px solid #c8c8c8;border-right: none;border-top: none;}
.zy_share-property-wrap .dropdown-menu ul{margin-bottom: 0 !important;}
.zy_share-property-wrap .dropdown-menu ul li{display: block; text-align:left;}
.zy_share-property-wrap .dropdown-menu ul li a{padding: 1px 15px;display: block; color: #4A4A4A !important;}
.zy_share-property-wrap .dropdown-menu ul li span{display:inline;}
.zy_share-property-wrap .dropdown-menu ul li:hover{background-color: #999;}
.zy_share-property-wrap .dropdown-menu ul li:hover a{color: #fff !important;}
.zy_main .listing-contact-submit{margin-top:10px !important;}

.zy-features-grid{display:block; border-top:1px solid #ddd; clear:both;}
.zy-features-grid > li{width: 33.33%;float:left;display: list-item; padding-left:20px; margin-bottom:20px;}
.zy-features-grid > li{list-style-type: none !important; position:relative;}
.zy-features-grid > li h3{position:relative;}
.zy-features-grid > li h3:before{content:"."; font-size:40px; position:absolute; left:-20px; top:-24px;}
.zy-features-grid .zy-sub-list li{list-style-type: none !Important;padding-left: 15px;}
.zy-features-grid .zy-sub-list li:before{content:"-";position: absolute;left: 20px;}

.zy_main .full-details-disclaimer{margin-bottom:10px;}
.zy_main .full-details-disclaimer img{max-height: 23px;}

/* Mortgage Calculator Style */
#zy_mortgage-calculator{padding-top: 20px;}
#zy_mortgage-calculator .irs .irs-min,
#zy_mortgage-calculator .irs .irs-max,
#zy_mortgage-calculator .irs .irs-single{display: none;}

#zy_mortgage-calculator .irs .irs-line,
#zy_mortgage-calculator .irs .irs-bar,
#zy_mortgage-calculator .irs .irs-bar-edge,
#zy_mortgage-calculator .irs .irs-line-mid,
#zy_mortgage-calculator .irs .irs-line-left,
#zy_mortgage-calculator .irs .irs-line-right{height: 3px;}
#zy_mortgage-calculator .irs .irs-line-left,
#zy_mortgage-calculator .irs .irs-line-right{background-position: unset;}
#zy_mortgage-calculator .irs .irs-line-mid{/*width: 100%;left:0;*/}
#zy_mortgage-calculator .irs .irs-bar{left: 0 !important;}


#zy_mortgage-calculator .irs .irs-slider{
	background-image: none;
	background-color: #ffffff;
	border: 1px solid #20b426;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	top: 14px;
	box-shadow: 0px 0px 5px #20b426;
}
#zy_mortgage-calculator .zy-mortgage-calculator input[type='text']{width: 100%;padding: 10px;box-shadow: none;height: 42px;border-radius: 4px !important;border: 1px solid #c8c8c8;}
#zy_mortgage-calculator select{width:100%;line-height:2.2;border-radius:4px; height: 42px;padding: 10px;border: 1px solid #c8c8c8;}
#zy_mortgage-calculator .row-group{margin-bottom:10px;}
#zy_mortgage-calculator .col-2-group{position: relative;}
#zy_mortgage-calculator .col-2-group input:nth-child(2){position: absolute;top: 0;max-width: 80px;right: 0;border-radius: 0px 4px 4px 0px !important;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail{padding-top: 10px;padding-bottom: 10px;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-principal,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-hoadues,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-property,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-insurance,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-mortgage{line-height: 25px; padding-left: 20px;position: relative;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-price{float: right;font-weight: 700;}
#zy_mortgage-calculator .zy-mortgage-calculator #zy-mortgage-interest{font-size: 16px;}
#zy_mortgage-calculator .zy-mortgage-calculator #zy-mortgage-total{font-size: 20px; font-weight: 700;}

#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-principal:before,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-hoadues:before,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-property:before,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-insurance:before,
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-mortgage:before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	left: 0;
	border-radius: 20px;
	top: 7px;
}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-principal:before{background-color: #59E0D0;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-hoadues:before{background-color: #E69C8A;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-property:before{background-color: #77A2D0;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-insurance:before{background-color: #FADD77;}
#zy_mortgage-calculator .zy-mortgage-calculator .mg-detail .mg-mortgage:before{background-color: #B0A0D8;}
#zy_mortgage-calculator .zy_mortgage-bar{height: 10px;display: flex;flex-flow: row nowrap;margin: 10px 0;border-radius: 5px;overflow: hidden;}
#zy_mortgage-calculator .zy_mortgage-bar .mortgage-color{display: inline-block;height: 100%;}
#zy_mortgage-calculator .zy_mortgage-bar #principal-color{background-color: #59e0d0;}
#zy_mortgage-calculator .zy_mortgage-bar #property-color{background-color: #77a2d0;}
#zy_mortgage-calculator .zy_mortgage-bar #hoadues-color{background-color: #e69c8a;}
#zy_mortgage-calculator .zy_mortgage-bar #insurance-color{background-color: #fadd77;}
#zy_mortgage-calculator .zy_mortgage-bar #mortgage-color{background-color: #B0A0D8;}

#ask-a-question-form #zpa-modal-contact-agent-form input[type='text'],
#ask-a-question-form #zpa-modal-contact-agent-form input[type='email']{
	padding: 10px;
	height: 42px;
	border-radius: 4px !important;
}
#ask-a-question-form #zpa-modal-contact-agent-form input:not([type='submit']),
#ask-a-question-form #zpa-modal-contact-agent-form textarea{
	border-radius: 4px !important;
	padding: 10px;
}

#gallery-column .zy-full-lightbox{position: absolute; top: 10px;right: 10px;z-index: 2;}
#gallery-column .zy-full-lightbox .btn-zy-lightbox{padding: 0;background-color: transparent;border: 0;}
#gallery-column .zy-full-lightbox #zy-icon-arrowsExpand_16x16{width: 25px;height: 25px;fill: white;filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 2px 2px);display: block; -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear;}
/* #gallery-column .owl-carousel-container .top-head-carousel-wrapper:hover .zy-full-lightbox #zy-icon-arrowsExpand_16x16 {opacity: 1;} */
.mfp-gallery .mfp-image-holder .mfp-close:active,
.mfp-gallery .mfp-image-holder .mfp-close{font-size: 46px;top: 0px;right:-8px;opacity: 0.5;}
.mfp-wrap .mfp-content #gallery-column .zy-full-lightbox{display: none;}
.mfp-wrap .mfp-content #gallery-column{/*max-width: 980px;*/ margin: auto;}
.mfp-wrap .mfp-content .owl-carousel-container .carousel-controller-wrapper{margin-top: 20px;}
/* .mfp-wrap .mfp-content .owl-carousel-container .top-head-carousel-wrapper .owl-stage{overflow: hidden;max-height: 500px;} */
/* .mfp-wrap .mfp-content .owl-carousel-container .top-head-carousel-wrapper .owl-item{width: 100%;max-width: 980px;} */
.mfp-wrap .mfp-content #gallery-column  .mfp-close{color: #fff; top: -10px;}
.mfp-wrap .mfp-content #gallery-column .owl-carousel .owl-item img{height: 100%;max-height: 500px;/*max-width: 980px;*/width: auto;}
.mfp-wrap .mfp-content #gallery-column .top-head-carousel-wrapper .owl-slide{background-image: none !important;background-color: rgba(0,0,0,0);}
.mfp-wrap .mfp-content #gallery-column .owl-carousel-container .carousel-controller-wrapper{background-color: rgba(0,0,0,0);}
.mfp-wrap .mfp-content #gallery-column .top-head-carousel-wrapper .owl-slide img{opacity: 1;}
#gallery-column .owl-carousel-container .carousel-controller-wrapper .owl-carousel{padding: 0 18px;}
#gallery-column .owl-carousel-container .carousel-controller-wrapper .owl-nav .owl-prev{
	position: absolute;
	padding: 10px 0;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #777;
	color: #fff;
}
#gallery-column .owl-carousel-container .carousel-controller-wrapper .owl-nav .owl-next{
	position: absolute;
	padding: 10px 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #777;
	color: #fff;
}

#zy-gallery-slide-proptype .top-head-carousel-wrapper .owl-slide{background-image: none !important;background-color: rgba(0,0,0,0) !important;height: auto;position: absolute;top: 50%;width: 100%;left: 50%;transform: translate(-50%, -50%);}
#zy-gallery-slide-proptype .owl-carousel-container .carousel-controller-wrapper{background-color: rgba(0,0,0,0);}
#zy-gallery-slide-proptype .top-head-carousel-wrapper .owl-slide img{opacity: 1 !important;height: 100% !important;max-height: 100% !important;vertical-align: middle;width: auto !important;}
#zy-gallery-slide-proptype .modal-dialog{max-width: unset;width: 100%;padding: 10px 0;}
#zy-gallery-slide-proptype .top-head-carousel-wrapper .owl-item{height: calc(100vh - 140px);}
#zy-gallery-slide-proptype .modal-dialog .modal-content{background: rgba(0,0,0,0);box-shadow: none;border: none;}
#zy-gallery-slide-proptype .modal-dialog .modal-header{background: rgba(0,0,0,0);}
#zy-gallery-slide-proptype.modal{background: rgba(11, 11, 9, 0.8);padding: 0;}
#zy-gallery-slide-proptype.modal .modal-header .close{top: 30px;opacity: 0.8;color: #fff;}

/* navigation */
#za_prop-navigation{position:absolute; width:0; height: 0; z-index: 1000}
#za_prop-navigation .zy_prop-nav-box{position:fixed;top: 45%;background-color:#fff;/* opacity:0.5; */width:auto;min-width: 48px;-moz-box-shadow: 0px 2px 10px 3px #c8c8c8;-webkit-box-shadow: 0px 2px 10px 3px #c8c8c8;box-shadow: 0px 2px 10px 3px #c8c8c8;height: 100px;}
#za_prop-navigation .zy_prop-nav-box.zy_prop-nav-next{right:0;}
#za_prop-navigation .zy_nav_detail{height: 100%;position:relative;/* padding-left: 110px; */left: 105px;width: 240px;padding-top: 5px;}
#za_prop-navigation .zy_nav_thumb{/* width:100%; */height: 100px;background-size:cover;width: 100px;position: absolute;background-position: center center;}
#za_prop-navigation .zy_nav_address{padding:0 5px;/* text-overflow: ellipsis; *//* white-space: nowrap; *//* overflow: hidden; */display:block;width:100%;font-weight:bold;}
#za_prop-navigation .zy_nav_price{font-weight:bold;color:#800;padding:0 5px;display: block;}
#za_prop-navigation .zy_nav-left_wrap{width:0;overflow:hidden;position: relative;}
#za_prop-navigation .zy_nav-right-wrap{width: 48px;background-color:#f9f9f9;height:100%;/* position:absolute; */position: relative;}
#za_prop-navigation .zy_prop-nav-previous .zy_nav-left_wrap{float: right;}
#za_prop-navigation .zy_prop-nav-next .zy_nav-right-wrap{float:right;left:0;}
#za_prop-navigation .zy_prop-nav-next .zy_nav-right-wrap:before{content: 'Next';position: absolute;width: 100%;text-align: center;top: 5px;color: #000;}
#za_prop-navigation .zy_prop-nav-next .zy_nav-left_wrap{float: left;}
#za_prop-navigation .zy_prop-nav-previous .zy_nav-right-wrap{float:left;right:0;}
#za_prop-navigation .zy_prop-nav-previous .zy_nav-right-wrap:before{content: 'Prev';position: absolute;width: 100%;text-align: center;color: #000;top: 5px;}
#za_prop-navigation .zy_nav-right-wrap .fa{font-size: 36px;color: #333;position:absolute;top: 37%;width: 100%;text-align: center;}
#za_prop-navigation .zy_prop-nav-previous .zy_nav-right-wrap .fa{/* left:20%; */}
#za_prop-navigation .zy_prop-nav-next .zy_nav-right-wrap .fa{/* left:30%; */}
#za_prop-navigation .zy_prop-nav-box:hover .zy_nav-left_wrap{/* width:100%; *//* max-width: 150px; */width: 350px;height: 100%;transition: width .5s cubic-bezier(.1,.9,.2,1);}
#za_prop-navigation .zy_prop-nav-box:hover{opacity:1;/* width:195px; */}
#za_prop-navigation .zy_nav_link{position:absolute; width:100%; height:100%; top:0; left:0;}
#omnibar-tools .omnibar-btn-back button{border: 1px solid #ddd;border-radius: 0;min-width: 106px;}
#omnibar-tools .omnibar-btn-back a:focus{outline: none;}
#omnibar-tools .omnibar-btn-back a{cursor: pointer;}
#omnibar-tools .omnibar-btn-back{padding: 5px;}
#za_prop-navigation .zy_prop-nav-box:hover .zy_nav-right-wrap .fa,
#za_prop-navigation .zy_prop-nav-box:hover .zy_nav-right-wrap:before{color: #0078d6;}



@media only screen and (max-width: 1200px){
	.zy_address-style{text-align: center;}
	.zy_price-mls .zy-detail-tool{max-width: 375px;margin: auto;}
	.zy_price-mls .zy-detail-tool .btn_wrap {width: 100px !important;}
	.zy_price-style.zy_status-style{padding: 5px 20px !important;width: fit-content;margin: auto !important;min-width: 100px;}
	#gallery-column .zy-full-lightbox #zy-icon-arrowsExpand_16x16{opacity: 1;}
}
@media only screen and (max-width: 767px){
	.zy-margin{margin-top:60px;}
	.zy_mob{width:50%;}
	.zy_right-padding{padding:0!important;margin-left:0!important;}
	.zy_prop-highlight .col{flex-basis:revert;flex-grow:0;}
	.zy_address-style{text-align:center;}
	.zy-features-grid > li{float:none;width:100%;}
	.zy_prop-details span{padding-left:10px !important;}
	#zpa-main-container .zy_main .zy_share-property-wrap.open>.dropdown-menu{left: -99px !important;}
	#za_prop-navigation{display:none;}
	#zy-gallery-slide-proptype .owl-carousel .owl-item img{width: 100% !important;height: auto !important;max-height: 100% !important;}
	#zy-gallery-slide-proptype .owl-carousel-container .top-head-carousel-wrapper .left-nav,
	#zy-gallery-slide-proptype .owl-carousel-container .top-head-carousel-wrapper .right-nav{/* opacity: 1 !important; */}
	#zy-gallery-slide-proptype .carousel-controller-wrapper{display:none;}
	#zy-gallery-slide-proptype .top-head-carousel-wrapper .owl-item{height: calc(100vh - 70px);}
	#omnibar-tools .omnibar-btn-back{display: none;}
}
@media only screen and (max-width: 400px){
	.zy_price-mls .zy-detail-tool .btn_wrap {width: 25% !important;}
}