#zpa-main-container .close{height: 30px !important;}
#zipperagent-content{ min-height:400px;}
.zy-margin{padding: 20px 15px 40px;overflow:hidden;}
/* .zy_main{margin-left:-15px; margin-right:-15px; padding-right:0 !important;} */
.zy-main h1{font-family:inherit;font-size:inherit;}
.zy-main button{}
.zy-main{overflow:hidden;}
.zy_nopadding{padding:0!important;}
.zy_nopaddingleft{padding-left:0 !important;}
.zy_nopaddingright{padding-right:0 !important;}
.zy-float-left{float:left;}
.zy-float-right{float:right;}
.zy_right-padding{padding:0!important;margin-left:15px!important;}
.zyapp_main-style{border-bottom:1px solid #ddd;padding:10px 0;}
.zy_header-style{}
.zy_address-style{margin-bottom: 0 !important;padding-bottom: 0 !important;font-size: 20px;line-height: 1.5em;font-weight: 500;font-style: normal;}
.zy_address-style h1{padding:0 !important;margin:0 !important;/* font-weight: 500; */}
.zy_subaddress-style{margin-bottom:0;font-size: 14px;line-height: 1.33em;font-weight: 400;font-style: normal;}
.zy_price-style{margin-bottom: 0 !important;padding-bottom: 0 !important;font-size: 20px;line-height: 1.5em;font-weight: 500;font-style: normal;text-align:center;}
.zy_price-mls h2{padding:0 !important; margin:0 !important;}
.zy_label-style{margin-bottom:0;font-size: 12px;line-height: 1.33em;font-weight: 400;font-style: normal;text-align:center;}

.btn_wrap{text-align:center;padding:0;}
.btn_wrap span{font-size:12px;display:block;}
.zy_schedule-showing, .zy_request-showing, .zy_share-property{border:1px solid #ddd;color:#000;font-size:20px;padding:8px;margin:0;text-align:center;background-color:#fff;line-height:0;}
.zy_schedule-showing:hover, .zy_request-showing:hover, .zy_share-property:hover{background-color:#ddd;}
.zy_save-property{border:1px solid #ddd;color:#000;font-size:20px;padding:8px;margin:0;text-align:center;background-color:#fff;line-height:0;}
.zy_save-property:hover, .zy_save-property.favorited{background-color:#F44336;color:#fff;}
.zy_save-property .active{background-color:#F44336;color:#fff;}

.zy_highlight-section{margin-top:20px;}
.zy_prop-details{margin:0;padding:0;}
.zy_prop-details li{list-style:none;border-bottom:1px solid #ddd;padding-bottom:2px;margin-bottom:2px;vertical-align:middle;padding-top:2px;display: flex;}
.zy_prop-details li label{font-weight:400;margin:0;}
.zy_prop-details li span{font-weight:600;font-size:15px;}

.zy_vitural-tour{margin-top:30px;}
.zy_vitural-tour a{text-transform:uppercase;color:#800!important;font-weight:600;font-size:40px;position:relative;display: inline-block;}
.zy_vitural-tour a span{font-size:13px;line-height: 1.0;float: right;padding-left: 5px;padding-top: 10px;width: 73px;}


.zy_agent-info{margin:0 !important;padding:0 !important;margin-top:30px;margin-bottom: 20px !important;}
.zy_agent-info h3{margin:0 !important; padding-bottom:10px !important;}
.zy_agent-info p, .zy_agent-info a{padding:0 !important; margin:0 !important;}
.zy_agent-info li{list-style:none;margin-top:20px;}
.zy_agent-pic{border-radius:50%;max-width:100px;max-height:100px;}
.zy_agent-email{display:block;}
.zy_agent-phone{margin-bottom:0;}

.zy_prop-fetaures{margin-top:30px;}
.zy_prop-highlight{margin:0;padding:0;}
.zy_prop-highlight li{list-style:none;padding-bottom:2px;margin-bottom:2px;vertical-align:middle;padding-top:2px;}
.zy_prop-highlight li label{font-weight:400;margin:0;border-bottom:1px solid #ddd;}
.zy_prop-highlight li span{font-weight:600;font-size:15px;border-bottom:1px solid #ddd;}

.zy_share-property-wrap{display: unset;position: relative;}
.zy_share-property-wrap.open>.dropdown-menu{min-width: 160px !important;padding: 10px 0 !important;left: -99px !important;top: 65px !important;right: 0 !important;}
.zy_share-property-wrap .dropdown-menu:before{content: '';width: 10px;height: 10px;position: absolute;top: -6px;left: 138px;background: #fff;-webkit-transform: rotate(135deg);transform: rotate(135deg);border-bottom-left-radius: 3px;border: 1px solid #c8c8c8;border-right: none;border-top: none;}
.zy_share-property-wrap .dropdown-menu ul{margin-bottom: 0 !important;}
.zy_share-property-wrap .dropdown-menu ul li{display: block; text-align:left;}
.zy_share-property-wrap .dropdown-menu ul li a{padding: 1px 15px;display: block; color: #4A4A4A !important;}
.zy_share-property-wrap .dropdown-menu ul li span{display:inline;}
.zy_share-property-wrap .dropdown-menu ul li:hover{background-color: #999;}
.zy_share-property-wrap .dropdown-menu ul li:hover a{color: #fff !important;}
.listing-contact-submit{margin-top:10px !important;}

.zy-features-grid{display:block; border-top:1px solid #ddd; clear:both;}
.zy-features-grid > li{width: 33.33%;float:left;display: list-item; padding-left:20px; margin-bottom:20px;}
.zy-features-grid > li{list-style-type: none !important; position:relative;}
.zy-features-grid > li h3{position:relative;}
.zy-features-grid > li h3:before{content:"."; font-size:40px; position:absolute; left:-20px; top:-24px;}
.zy-features-grid .zy-sub-list li{list-style-type: none !Important;padding-left: 15px;}
.zy-features-grid .zy-sub-list li:before{content:"-";position: absolute;left: 20px;}

.zy_main .full-details-disclaimer{margin-bottom:10px;}

@media only screen and (max-width: 767px){
	.zy-margin{margin-top:60px;}
	.zy_mob{width:50%;}
	.zy_right-padding{padding:0!important;margin-left:0!important;}
	.zy_prop-highlight .col{flex-basis:revert;flex-grow:0;}
	.zy_address-style{text-align:center;}
	.zy-features-grid > li{float:none;width:100%;}
	.zy_prop-details span{padding-left:10px !important;}
	#zpa-main-container .zy_main .zy_share-property-wrap.open>.dropdown-menu{left: -99px !important;}
}