#omnibar-tools .input-column{}
#omnibar-tools #zpa-selected-filter{height:auto !important;}
#omnibar-tools .input-column .search-by{display:inline-block;width: 106px;border:1px solid #ddd;/* height: 42px; */position: absolute;margin-top: 3px;border-radius:3px 0 0 3px;}
#omnibar-tools .input-column .search-by button:active{box-shadow: none;}
#omnibar-tools .input-column .search-by input[type="radio"]{pointer-events:none;}
#omnibar-tools .input-column .search-by a{color:inherit;}
#omnibar-tools .input-column .field-wrap{display:inline-block;width: 100%;padding-left: 106px;background: #fff;}
#omnibar-tools .input-column .field-wrap .field-section .ms-ctn{border:0 !important;box-shadow:none;padding-top: 7px;padding-bottom: 7px;height:auto;}
#omnibar-tools .input-column .field-wrap .field-section{/*border:1px solid #ddd;*/min-height: 42px;height: auto;border-radius: 0 3px 3px 0;}

#omnibar-tools .pc-filter-column > form > .dropdown-group > .dropdown{margin-right:5px !important;}
#omnibar-tools .filter-column .dropdown-group .dropdown{display:inline-block;/*float: right;*/width: 19%;}
#omnibar-tools .filter-column .dropdown-group .dropdown .btn{background: rgba(0,0,0,0);border-radius:0 !important;/* border-right: 1px solid #777; */width:100%;color: #000;min-width:80px;}
#omnibar-tools .filter-column .dropdown-group .dropdown .btn:active{box-shadow: none;}
#omnibar-tools .filter-column .dropdown-group .dropdown.open .btn, #omnibar-tools .filter-column .dropdown-group .dropdown .btn:hover{/*background:#777;*/ /*border-left:1px solid #555;*/}
#omnibar-tools .filter-column .dropdown-group .dropdown:first-child .btn{border-radius:3px 0 0 3px !important;}
#omnibar-tools .filter-column .dropdown-group .dropdown:last-child .btn{border-radius:0 3px 3px 0 !important;}

#omnibar-tools .mobile-omnibar{display: none;}
#zpa-main-container #omnibar-tools .open>.dropdown-menu{left: unset !important;}
#omnibar-tools .dropdown-group > .dropdown > .dropdown-menu{
    background: #fff;
    min-width: 130px;
    width: max-content !important;
    max-width: unset !important;
    padding: 10px;
    border: 1px solid #c8c8c8;
    -webkit-box-shadow: inset 0 -2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: left;
    z-index: 902;
    margin-top: 7px;
    right: 0 !important;
	z-index: 999;
}
#omnibar-tools .dropdown-group > .dropdown.filter > .dropdown-menu .cq-dropdown{position:relative;width:100% !important; text-align:left;}
#omnibar-tools .dropdown-group > .dropdown.filter > .dropdown-menu .cq-dropdown button{text-align:left;padding:5px;-webkit-appearance: none;-moz-appearance: none; background-image: url(data:image/svg+xml; charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.o…4%2015.5l-3-6-3%206h3.5zM9.4%2019.5l3%206%203-6h-3.5z%22%2F%3E%3C%2Fsvg%3E); background-repeat: no-repeat;background-position: 100% 50%;text-transform: none;min-height: 35px;}
#omnibar-tools .dropdown-group > .dropdown.filter > .dropdown-menu .cq-dropdown button .caret{display:none;}
#omnibar-tools .dropdown-group > .dropdown.filter > .dropdown-menu .cq-dropdown > .dropdown-menu{
	width: 100%;
}

}
#omnibar-tools .dropdown-menu .more{max-height: 300px;overflow-y: auto;overflow-x: hidden;}
#omnibar-tools .dropdown-menu .checkbox-wrap .checkbox-row{width: 870px;}
#omnibar-tools .desktop-omnibar .search-by.dropdown > .dropdown-menu{margin-top: 7px}
#omnibar-tools .desktop-omnibar .search-by.dropdown > .dropdown-menu:before,
#omnibar-tools .dropdown-group > .dropdown > .dropdown-menu:before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #fff;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    top: -5px;
    right: 10px;
    transform: rotate(45deg);
}
#omnibar-tools .min-price{padding-right: 8px;}
#omnibar-tools .max-price{padding-left: 8px;}
.zpa-listing-detail #omnibar-tools form input[type=checkbox]:checked:before,
#omnibar-tools  form input[type=radio]:checked:before{
	background-color: unset;
	background-image: none;
}
#omnibar-tools .filter h3,
#omnibar-tools .sortby h3,
#omnibar-tools .propstatus h3,
#omnibar-tools .proptype h3{
    font-size: 14px;
    font-weight: 700;
    /* width: max-content; */
    /* border-bottom: 1px solid #c8c8c8; */
    padding-bottom: 0;
}
#omnibar-tools input[type="radio"],
#omnibar-tools input[type="checkbox"]{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: #fff;
    padding: 0;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    overflow: hidden;
}
#omnibar-tools input[type="radio"]{border-radius: 50%;}
#omnibar-tools input[type="checkbox"]:checked{-webkit-appearance: checkbox;}
#omnibar-tools input[type="radio"]:checked{-webkit-appearance: radio;}
#omnibar-tools select:hover{cursor:pointer;}
#omnibar-tools .dropdown-toggle{position: relative;width: 100%;}
#omnibar-tools .desktop-omnibar .dropdown-group > .dropdown > .dropdown-toggle:after{
    content: '';
    position: absolute;
    top: 15px;
    right: 10px;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
}
#omnibar-tools .search-by .dropdown-toggle:after{right: 10px;border-color: #4a4a4a;}
#omnibar-tools .search-by .dropdown-menu{right: unset !important;}
#omnibar-tools .search-by .dropdown-menu:before{right: unset;left: 10px;}
#omnibar-tools .input-column .field-wrap .field-section input{border: 0 !important;padding: 0;line-height: 1.8;/* height: 40px !important; */box-shadow: none;/* padding-left: 10px; */padding-left: 0px !important;padding-top: 2px !important;width: 100% !important;}
#omnibar-tools .input-column .addr,
#omnibar-tools .input-column .school,
#omnibar-tools .input-column .listid{padding: 2px 6px;}
#omnibar-tools .input-column .town{margin-bottom: 0;}
#omnibar-tools .desktop-omnibar .input-column .field-wrap .field-section input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a4a4 !important;
  font-weight: normal !important;
}
#omnibar-tools .desktop-omnibar .input-column .field-wrap .field-section input::-moz-placeholder { /* Firefox 19+ */
  color: #a4a4a4 !important;
  font-weight: normal !important;
}
#omnibar-tools .desktop-omnibar .input-column .field-wrap .field-section input:-ms-input-placeholder { /* IE 10+ */
  color: #a4a4a4 !important;
  font-weight: normal !important;
}
#omnibar-tools .desktop-omnibar .input-column .field-wrap .field-section input:-moz-placeholder { /* Firefox 18- */
  color: #a4a4a4 !important;
  font-weight: normal !important;
}

#omnibar-tools .ms-res-item-grouped .name.area{padding-left: 0;}
#omnibar-tools .mobile-omnimbar{display: none;}
#omnibar-tools #zpa-mobile-all-input{height:auto;}

#omnibar-tools .propstatus li{display: inline-block;}
#omnibar-tools .desktop-omnibar .dropdown-group > .dropdown.filter > .dropdown-menu{margin-top: 7px;padding: 0 !important;}
#omnibar-tools .desktop-omnibar .dropdown-group > .dropdown.filter > .dropdown-menu .wrap-filter{min-width: 500px;max-height: 70vh;overflow-y: auto;overflow-x: hidden;padding: 10px 10px 30px !important;}
#omnibar-tools .filter .two-field-wrap select{display: inline-block; width: 47%;background-size: 18px;}
#omnibar-tools .filter .two-field-wrap span{width: 4.3%;display: inline-block;text-align: center;}
#omnibar-tools .filter select{background-size: 18px;}
#omnibar-tools .filter .one-field-wrap select{width: 100% !important;background-size: 18px;}
#omnibar-tools .popular-features h3{font-size: 14px !important;border-top: none;}
#omnibar-tools .dropdown-group{text-align: right;}
#omnibar-tools .filter select,
#omnibar-tools .two-field-wrap select,
#omnibar-tools .one-field-wrap select{height: 35px;padding: 5px;width: 100%;}
#omnibar-tools .filter .fs-label{padding: 10px 5px;}
#omnibar-tools .filter .fs-wrap.multiple{width: 100%;}
#omnibar-tools #zpa-view-selected-filter .ms-sel-ctn{padding-left: 106px;}
#omnibar-tools #zpa-view-selected-filter .ms-sel-ctn .ms-sel-item,
#zpa-top-searh-bar #zpa-view-selected-filter .ms-sel-ctn .ms-sel-item{border-radius: 15px;padding: 5px 7px 5px 12px;}
#omnibar-tools .desktop-omnibar{border-bottom: 1px solid #ddd;padding-bottom:5px;}
#omnibar-tools .fs-arrow{
    border-width: 3px;
    right: 8px;
}
#omnibar-tools .filter .dropdown-menu li:hover{background: none !important;}
#omnibar-tools .filter .dropdown-menu li:hover label{color: #000 !important;}

#omnibar-tools #mobile-filter, #omnibar-tools #rsult{width:100%; border:0; min-height:42px; border-radius:3px !important;}
#omnibar-tools .desktop-omnibar #dropdownMenuButton{border-radius: 0 !important;/* height: inherit; */}
#omnibar-tools .search-wrap.search-type .ms-sel-ctn input{width:100% !important;}
#omnibar-tools .desktop-omnibar .filter .propstyles ul.dropdown-menu,
#omnibar-tools .desktop-omnibar .filter .propwaterfront ul.dropdown-menu,
#omnibar-tools .desktop-omnibar .filter .propexterior ul.dropdown-menu,
#omnibar-tools .desktop-omnibar .filter .propview ul.dropdown-menu{max-height:180px;overflow-y: auto;}
#omnibar-tools .desktop-omnibar .filter .propstyles ul.dropdown-menu li,
#omnibar-tools .desktop-omnibar .filter .propwaterfront ul.dropdown-menu li,
#omnibar-tools .desktop-omnibar .filter .propexterior ul.dropdown-menu li,
#omnibar-tools .desktop-omnibar .filter .propview ul.dropdown-menu li,
#omnibar-tools .desktop-omnibar .filter .proptype ul.dropdown-menu li{width: 100%;}
#omnibar-tools .desktop-omnibar .filter .propstyles ul.dropdown-menu li label,
#omnibar-tools .desktop-omnibar .filter .propwaterfront ul.dropdown-menu li label,
#omnibar-tools .desktop-omnibar .filter .propexterior ul.dropdown-menu li label,
#omnibar-tools .desktop-omnibar .filter .propview ul.dropdown-menu li label,
#omnibar-tools .desktop-omnibar .filter .proptype ul.dropdown-menu li label{padding-left: 25px;position:relative;}
#omnibar-tools .desktop-omnibar .filter .propstyles ul.dropdown-menu li label input[type='checkbox'],
#omnibar-tools .desktop-omnibar .filter .propwaterfront ul.dropdown-menu li label input[type='checkbox'],
#omnibar-tools .desktop-omnibar .filter .propexterior ul.dropdown-menu li label input[type='checkbox'],
#omnibar-tools .desktop-omnibar .filter .propview ul.dropdown-menu li label input[type='checkbox'],
#omnibar-tools .desktop-omnibar .filter .proptype ul.dropdown-menu li label input[type='checkbox']{
	position: absolute;
	top: 5px;
	left: 5px;
}
#omnibar-tools .desktop-omnibar .search-by #dropdownMenuButton:after{
    content: '';
    position: absolute;
    top: 15px;
    right: 10px;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
}

@media(max-width: 1024px){#omnibar-tools .dropdown-toggle:after{display: none;}}
@media(max-width: 980px){
    #omnibar-tools .fewer{width: 630px;}
    #omnibar-tools .fewer .col-xs-4{width: 100% !important;}
    #omnibar-tools .dropdown-menu:before{display: none;}
}
@media(max-width: 768px){
    #omnibar-tools .input-column{/* width: 100%; */}
    #omnibar-tools .filter-column{width: 100%;}
    #zpa-main-container .dropdown{position: unset;}
    #omnibar-tools .dropdown-menu{width: 95% !important;right: 2.5% !important;}
    #omnibar-tools .fewer{width: 100%;}
}
@media(max-width: 767px){
	#zpa-view-selected-filter{display: none;}
	#omnibar-tools .mobile-omnimbar #zpa-view-selected-filter{display: block;}
	#omnibar-tools .desktop-omnibar{display: none !important;}
	#omnibar-tools .mobile-omnimbar{display: block !important;margin-bottom: 20px;}
	#omnibar-tools .mobile-omnimbar button{font-size: 16px !important;line-height: 48px;vertical-align: middle;min-height: 50px;padding: 0;}
	#omnibar-tools .haKWSj {
		width: 26px;
		height: 40px;
		color: #fff;
		margin-top: 4px !important;
		display: inline-block;
    	fill: currentColor;
    	vertical-align: top;
    	-webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
    }
	#omnibar-tools .filter-column .dropdown-group .dropdown{width: 100%;}
	#omnibar-tools .filter-column .dropdown-group .dropdown .btn{width: 100%;border: 1px solid #c8c8c8;background: #f9f9f9;color: #4a4a4a; font-size: 16px;}
	#omnibar-tools .dropdown.sort .dropdown-menu{top: 115%;right: 15px !important;}
	#omnibar-tools .dropdown.sort .dropdown-menu:before{display: block;}
	#omnibar-tools .filter-column .dropdown-group .dropdown.sort .dropdown-toggle:hover{color: #fff !important;} 
	
}
@media(max-width: 540px){
	#omnibar-tools .mobile-omnimbar button{line-height: 40px;min-height: 40px;}
	#omnibar-tools .haKWSj{margin-top: 0 !important}
}
#omnibar-tools .desktop-omnibar .search-by .dropdown-menu,
#omnibar-tools .desktop-omnibar .dropdown.beds .dropdown-menu,
#omnibar-tools .desktop-omnibar .dropdown.baths .dropdown-menu,
#omnibar-tools .desktop-omnibar .dropdown.sort .dropdown-menu{padding-left: 0 !important; padding-right: 0 !important;}
#omnibar-tools .desktop-omnibar .dropdown-menu li a,
#omnibar-tools .desktop-omnibar .dropdown-menu li label{padding: 0 10px;display:block !important;}
#omnibar-tools .desktop-omnibar .dropdown-menu li:hover{background-color: #c0c0c0;color: #fff;}
#omnibar-tools .desktop-omnibar .dropdown-menu li:hover a{color: #fff;}
#omnibar-tools .desktop-omnibar .dropdown-menu li:hover label{color: #fff;}
#omnibar-tools .desktop-omnibar .listprice .dropdown-menu input{width: 110px;}
#zpa-main-container #omnibar-tools .ms-res-ctn.dropdown-menu{padding: 0 !important;margin-top: 0;width: 100% !important;}
#zpa-main-container #omnibar-tools .ms-res-ctn.dropdown-menu:before{display: none;}

#omnibar-tools .desktop-omnibar .dropdown .dropdown-menu{left: auto !important;padding: 10px 0 0 !important;}
#omnibar-tools .desktop-omnibar .dropdown.type .dropdown-menu{min-width: 320px;}
#omnibar-tools .desktop-omnibar .dropdown.listprice .dropdown-menu{min-width: 250px;padding: 10px !important;}
#omnibar-tools .desktop-omnibar .dropdown.sort .dropdown-menu{min-width: 200px;}
#omnibar-tools .desktop-omnibar .dropdown.more .dropdown-menu{min-width: 900px;}

#omnibar-tools .mobile-omnimbar .btn-primary{border: 1px solid #999;border-radius: 3px;}
#omnibar-tools .mobile-omnimbar .main-mobile-filter button{border-radius: 0;}
#omnibar-tools .mobile-omnimbar .bathcount li,
#omnibar-tools .mobile-omnimbar .bedrooms li{padding-right: 10px;}
#omnibar-tools .mobile-omnimbar .two-field-wrap .cell{display: inline-block;width: 46%;}
#omnibar-tools .mobile-omnimbar .two-field-wrap .cell.cell-xs-1{width:8%;display: inline-block;text-align: center;}
#omnibar-tools .mobile-omnimbar select{width: 100% !important;background-size: 18px;}
#omnibar-tools .mobile-omnimbar button#mobile-filter{width: 100%;}
#omnibar-tools .mobile-omnimbar button#dropdownMenuButton{color: #4a4a4a !important;}
#omnibar-tools .mobile-omnimbar #zpa-view-selected-filter .ms-sel-ctn{padding-left: 0;}
#omnibar-tools .mobile-omnimbar #zpa-view-selected-filter .ms-sel-ctn .ms-sel-item{margin: 2px 3px;}
#omnibar-tools .desktop-omnibar .input-column .field-wrap .field-section.addr,
#omnibar-tools .desktop-omnibar .input-column .field-wrap .field-section.listid{padding-left: 5px;padding-top: 3px;}
#omnibar-tools .desktop-omnibar .filter .dropdown-menu select,
#omnibar-tools .desktop-omnibar .filter .cq-dropdown button{
	-webkit-appearance:none;
	-moz-appearance:none;
	background-image:url('data:image/svg+xml; charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2035%22%20preserveAspectRatio%3D%22xMaxYMid%22%3E%3Ctitle%3E043-Arrow%3C%2Ftitle%3E%3Cpath%20fill%3D%22%234A4A4A%22%20d%3D%22M15.4%2015.5l-3-6-3%206h3.5zM9.4%2019.5l3%206%203-6h-3.5z%22%2F%3E%3C%2Fsvg%3E') !important;
	background-repeat:no-repeat;
	background-position:100% 50%;
	text-transform:none;
	background-size: 18px !important;
}