#photos,
#property-sidebar {
	padding: 0
}

.signup-conf-box h2,
.signup-conf-box h3,
.thankyou-box h2,
.thankyou-box h3 {
	font-weight: 400
}
#zipperagent-content #map{z-index: 0;}
@media screen and (min-width:1024px){
	#map-list-content{
		margin-right:0 !important;

	}
	#map-list-content .zpa-grid-wrap .zpa-grid-result{
		padding-right:0 !important;
	}
	#map-list-content .save-favorite-btn{
		margin-right:0;
	}
	#map-list-content .zpa-grid-result-basic-info-container span{
        display:none;
	}
	#map-list-content .za-container .row .col-xs-10{
		width:75%;
	}
	#map-list-content .zpa-grid-result-photocount{
		width:25%;
	}
}
#map-view {
	margin-top: 30px
}
#map_wrapper {
	height: 500px
}
#map_wrapper.map-explore {
	height: 600px
}
#map_canvas {
	width: 100%;
	height: 100%
}

#map {
	z-index: 1;
	position: relative;
	overflow:hidden;
}

#property-sidebar #filter-wrap {
	padding: 0 20px 20px;
	margin-bottom: 20px
}

.pagination-wrap {
	text-align: center
}

@media screen and (min-width:769px) {
	#map {
		padding-right: 0!important
	}
	#photos,
	#property-sidebar {
		float: right!important
	}
}

@media screen and (max-width:768px) {
	.field-wrap:not(:first-child) {
		margin-top: 0!important;
		margin-bottom: 0
	}
	.field-wrap .field-input {
		margin-bottom: 10px
	}
	#property-sidebar {
		max-height: 100%;
		border-left: none;
		position: initial;
		margin-top: 30px
	}
	#map_wrapper {
		height: 400px
	}
}

#photos .owl-controls .owl-nav .owl-next,
#photos .owl-controls .owl-nav .owl-prev {
	margin-top: 30%!important;
	position: absolute;
	z-index: 100
}

#small-property {
	border-right: 1px solid #ddd;
	overflow-y: scroll;
	padding: 0
}

#photos {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0
}

#photos .main-slider {
	position: relative
}

#photos .owl-stage-outer {
	position: relative;
	z-index: 0
}

#photos .owl-controls {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1
}

#photos .owl-controls .owl-nav {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1
}

#photos .owl-controls .owl-nav .owl-next {
	right: 30px
}

#photos #filter-wrap {
	padding: 0 20px 20px;
	margin-bottom: 20px
}

#photos .grid--gutters:first-child {
	margin-top: 0
}

#photos .grid--gutters:last-child {
	margin-bottom: 0
}

#photos .grid--gutters {
	background: #f4f4f4;
	padding: 20px;
	border: 1px solid #ddd;
	margin: 20px 0
}

.photo-slider {
	max-width: 500px;
	margin: 0 auto
}

.slider-container {
	position: relative;
	display: block
}

.slider-container .main-slider .item img {
	width: auto;
	max-height: 450px
}

.slider-container .slider .content img {
	width: 100%;
	height: 400px
}

.slider-container .slider-controls a {
	position: absolute;
	top: 45%;
	z-index: 100;
	color: #333
}

.slider-container .slider-controls a.slider-left {
	left: 0
}

.slider-container .slider-controls a.slider-right {
	right: 28px
}

.thumbnail-slider-container {
	margin-top: 5px
}

.thumbnail-slider .content {
	padding: 5px
}

.thumbnail-slider .owl-item.active.center {
	border: 3px solid #333
}

@media screen and (max-width:768px) {
	#small-property {
		max-height: 100%;
		border-left: none;
		position: initial;
		margin-top: 30px;
		display: none
	}
}

.widget-slider .owl-img-wrap{
	margin-bottom:10px;
}

.widget-slider .owl-nav {
	text-align: center;
	display: block;
	margin-top: 20px
}

.widget-slider .impress-carousel-property p {
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.widget-slider .owl-next,
.widget-slider .owl-prev {
	display: inline-block;
	padding: 10px 15px;
	background: #ddd;
	margin-right: 10px
}

.widget-slider .owl-nav>div {
    background:none !important;
    padding:0 !important;
}
.widget-slider .owl-nav button {
	background: #800;
	color: #fff;
	border-radius: 3px;
	border:1px solid #fff;
	padding:0px 15px;
}
.widget-slider .owl-nav button:focus{
	border:1px solid #000;
}

.widget-slider .owl-img-wrap .impress-carousel-photo > span {
	display: block;
	height: 199px;
	background-size: cover!important;
	background-position: center!important
}

#zpa-main-container .modal .modal-dialog input,
#zpa-main-container .modal .modal-dialog select {
	border-radius: 0!important
}

#zpa-main-container .modal .modal-dialog .btn-primary {
	border-radius: 0;
	background: #ed1b24;
	border: 0;
	font-size: 16px;
	color: #fff
}

#zpa-main-container .modal .modal-header {
	background: #fff;
	border: 0;
	border-radius: 0
}

#zpa-main-container .modal .modal-header .modal-title {
	color: inherit
}

#zpa-main-container .modal .modal-content {
	border-radius: 0
}

#zpa-main-container .modal .modal-footer {
	background: #fff;
	border: 0;
	display: none
}

#zpa-main-container .modal .panel {
	border: 0
}

#zpa-main-container .modal .panel .panel-heading {
	display: none
}

#zpa-main-container .modal .panel .panel-body {
	padding: 0;
	margin-right: 0
}

#zpa-main-container .required-mark {
	color: red
}

.zpa-account-login .zpa-social-signup {
	max-width: 390px;
	margin: 0 auto;
	padding: 0 30px
}

.zpa-account-login .zpa-social-signup .signup-title {
	text-align: center;
	padding: 0;
	margin: 0 0 10px!important
}

.zpa-account-login .zpa-social-signup .signup-message {
	text-align: center;
	display: block;
	margin-bottom: 20px;
	color: #5db2ff
}

.zpa-account-login .zpa-social-signup .privacy-message {
	text-align: center;
	display: block;
	font-size: 11px;
	margin-top: 10px
}

.zpa-account-login .zpa-social-signup .or-text {
	background: #4b4b4b!important;
	color: #fff!important;
	padding: 4px 8px;
	display: block;
	border-radius: 999px;
	position: relative;
	z-index: 1
}

.zpa-account-login .zpa-social-signup .or-line {
	border-bottom: 1px solid #4b4b4b!important;
	height: 1px;
	display: block;
	width: 100%;
	margin: 0!important;
	position: relative;
	top: -20px;
	z-index: 0
}

.zpa-account-login .zpa-social-signup input,
.zpa-account-login .zpa-social-signup select {
	border-radius: 0!important
}

.zpa-account-login .zpa-social-signup .btn-default {
	width: 100%;
	color: #fff!important;
	border-radius: 0!important;
	background: #ed1b24!important;
	border: 0!important;
	font-size: 16px!important
}

.zpa-account-login .zpa-social-signup .signup-toggle {
	text-align: center;
	display: block
}

.signup-conf-box {
	text-align: center;
	width: 100%;
	height: auto;
	display: block
}

#thumbnailSlider .item {
	height: 33px
}

#thumbnailSlider .item img {
	position: absolute
}

.thankyou-box {
	text-align: center
}

@font-face {
	font-family: fontello;
	src: url(fonts/fontello.woff2) format("woff2"), url(fonts/fontello.woff) format("woff"), url(fonts/fontello.ttf) format("truetype")
}

#zpa-main-container .search-bar .form-control {
	font-size: 16px;
	border-radius: 30px!important;
	padding: 10px 30px!important;
	width: 100%;
	height: auto;
	border: 0!important
}

#zpa-main-container .search-bar #zpa-quicksearch-submit5 {
	border: 0;
	background: #F3C915;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-radius: 30px;
	width: 80px;
	font-size: 16px
}

#zpa-main-container .search-bar .dropdown-menu {
	margin-left: 20px;
	border: 0;
	border-radius: 0;
	margin-top: 0;
	top: 51px;
	box-shadow: none!important;
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: calc(100% - 100px);
	font-size: 16px;
	padding-top: 0
}

#zpa-main-container .search-bar .ms-res-ctn .ms-res-group {
	box-shadow: none!important;
	border: 0!important;
	padding: 10px 15px!important
}

#zpa-main-container .search-bar .ms-ctn .ms-sel-item {
	font-size: 16px;
	padding: 5px 10px;
	background: #fff;
	border-radius: 30px
}

#zpa-main-container .search-bar input[type=text] {
	height: 31px
}

#zpa-main-container .search-bar .ms-ctn .ms-sel-item:hover {
	border: 1px solid #ccc
}

.login-url .link-text,
.myaccount-url .link-text {
	text-transform: uppercase
}

.nav-myaccount li a {
	text-transform: uppercase;
}

.nav-myaccount .sub-menu li a {
	text-transform: unset;
}

#zpaShareEmail .share-email-title {
	text-align: center;
	text-align: center;
	padding: 0;
	margin: 0 0 15px;
}

#zpaShareEmail .share-email-caption {
	text-align: center;
}

#zpaShareEmail .listing-price {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #8BB74D;
	margin-top: 5px;
}

#zpaShareEmail .default-body {
	display: block;
	color: #999;
	font-size: 13px;
	line-height: 1.52;
	margin-bottom: 10px;
}

#zpaShareEmail #share-body {
	border-radius: 0;
	min-height: 120px;
	display: block;
	width: 100% !important;
}

#zpaShareEmail .add-comment-text {
	color: #999;
	font-size: 13px;
}

#zpa-top-searh-bar {
	padding-left: 15px;
	padding-right: 15px;
}

#zpa-top-searh-bar .zy-listing-search__wrapper {}

#zpa-top-searh-bar .zy-filter-bar {
	border: 1px solid #ddd;
	padding: 6px 0px;
}

#zpa-top-searh-bar #zpa-area-input,
#zpa-top-searh-bar #zpa-all-input {
	border: none;
	box-shadow: none;
	padding-left: 17px;
	padding-top: 6px;
	padding-bottom: 0;
}
#zpa-top-searh-bar #zpa-all-input input[type=text]{
	margin-top:5px;
}
#zpa-top-searh-bar #zpa-all-input.ms-ctn .ms-sel-ctn input {
	width: 100%;
}

#zpa-top-searh-bar #zpa-area-input .ms-sel-item {
	margin-top: 4px;
}

#zpa-top-searh-bar #zpa-area-input .ms-helper {
	display: none !important;
}

#zpa-top-searh-bar .btn-primary {
	background: none;
	border: none;
	color: #000;
}

#zpa-top-searh-bar .btn-primary:hover,
#zpa-top-searh-bar .btn-primary:focus,
#zpa-top-searh-bar .open .btn-primary {
	background: none !important;
	color: #000;
}

#zpa-top-searh-bar .dropdown-menu input[type=text] {
	width: 100%;
}

#zpa-top-searh-bar #zpa-view-selected-filter {
	display: block;
}

#zpa-top-searh-bar #zpa-view-selected-filter #zpa-selected-filter {
	min-height: 0 !important;
}

#map .zpa-marker:not(.zpa-image-marker) {
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 3px 10px;
}

#map .zpa-marker:not(.zpa-image-marker):hover {
	background: #800 !important;
	color: #fff;
	box-shadow: 0px 3px 10px #000;
	font-weight: bold;
}

#map .zpa-marker .short-info {
	text-transform: uppercase;
	font-size: 12px;
	top: -28px;
	left: -67px;
	min-width: 167px;
	position: absolute;
	height: auto;
	text-align: center;
	box-shadow: 0px 3px 10px #4a4a4a;
	background: #4a4a4a;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	display: none;
}

#map .zpa-marker:hover .short-info {
	display: block;
}

#map .zpa-image-marker {
	background: none !important;
}

#map .zpa-image-marker .short-price-marker {
	text-align: center;
	display: block;
	font-weight: bold;
}

#map .zpa-image-marker .short-price-marker img {
	display: block;
	max-height: 40px;
	width: auto;
	margin: 0 auto;
}

#omnibar-wrap .input-column {}

#omnibar-wrap #zpa-selected-filter {
	height: auto !important;
}

#omnibar-wrap .input-column .search-by {
	display: inline-block;
	width: 106px;
	border: 1px solid #ddd;
	border-right: 0;
	height: 42px;
	position: absolute;
	border-radius: 3px 0 0 3px;
}

#omnibar-wrap .input-column .field-wrap {
	display: inline-block;
	width: 100%;
	padding-left: 106px;
	background: #fff;
}

#omnibar-wrap .input-column .field-wrap .field-section .ms-ctn {
	border: 0 !important;
	box-shadow: none;
	padding-top: 7px;
	padding-bottom: 7px;
	height: auto;
}

#omnibar-wrap .input-column .field-wrap .field-section {
	border: 1px solid #ddd;
	min-height: 42px;
	height: auto;
	border-radius: 0 3px 3px 0;
}

#omnibar-wrap .filter-column .dropdown-group .dropdown {
	display: inline-block;
	float: left;
	width: 16.66%;
}

#omnibar-wrap .filter-column .dropdown-group .dropdown .btn {
	background: #999;
	border-radius: 0 !important;
	border-right: 1px solid #777;
	width: 100%;
	color: #fff;
}

#omnibar-wrap .filter-column .dropdown-group .dropdown.open .btn,
#omnibar-wrap .filter-column .dropdown-group .dropdown .btn:hover {
	background: #777;
	border-left: 1px solid #555;
}

#omnibar-wrap .filter-column .dropdown-group .dropdown:first-child .btn {
	border-radius: 3px 0 0 3px !important;
}

#omnibar-wrap .filter-column .dropdown-group .dropdown:last-child .btn {
	border-radius: 0 3px 3px 0 !important;
}

#omnibar-wrap .mobile-omnibar {
	display: none;
}

@media screen and (max-width:767px) {
	.hide-mobile {
		display: none !important;
	}
}


/*
#zpa-top-searh-bar{padding-left:15px;padding-right:15px;}
#zpa-top-searh-bar .zy-listing-search__wrapper{}
#zpa-top-searh-bar .zy-filter-bar{border:1px solid #ddd;padding:6px 0px;}
#zpa-top-searh-bar #zpa-area-input{border: none;box-shadow: none;padding-left: 17px;padding-top: 10px;padding-bottom: 0;}
#zpa-top-searh-bar .btn-primary{background:none;border:none;color: #000;overflow: hidden;}
#zpa-top-searh-bar .btn-primary:hover,#zpa-top-searh-bar .btn-primary:focus, #zpa-top-searh-bar .open .btn-primary{background:none;color: #000}

#map .zpa-marker{display:block; margin:0 auto; text-align:center; background:none !important;}
#map .zpa-marker .short-price{padding:5px; border-radius:5px; box-shadow:0px 3px 10px; margin:0 auto; background: #fff;}
#map .zpa-marker .short-price:hover{background:#800 !important; color:#fff; box-shadow:0px 3px 10px #000; font-weight:bold;}
#map .zpa-marker .short-info{text-transform:uppercase; font-size: 12px; position:relative; margin-bottom: 10px; min-width:100px; height:auto; box-shadow:0px 3px 10px #4a4a4a; background:#4a4a4a; color: #fff; font-weight:bold; padding:5px; visibility:hidden;}
#map .zpa-marker:hover .short-info{visibility:visible;}
*/


/*
#zpa-top-searh-bar #filter-wrap{background-color: #fff;border-color: #ddd;border-radius: 2px; padding: 10px;}
#zpa-top-searh-bar #zpa-area-input{border: none;box-shadow: none;}
#zpa-top-searh-bar .item-mn{position: relative;}
#zpa-top-searh-bar .item-mn .item-toggle{padding: 7px 0;display: block;cursor: pointer;position: relative;width: fit-content;}
#zpa-top-searh-bar .item-mn .detail-toggle{border-radius: 2px;min-width: 200px;position: absolute; top: 48px;z-index: 99; border: 1px solid #eee; background-color: #fff; padding: 14px 28px; width: max-content;}
#zpa-top-searh-bar .item-mn .detail-toggle input{border: 1px solid #ddd; padding: 8px 10px;border-radius: 2px;}
#zpa-top-searh-bar .item-mn .detail-toggle .chosen-single{border-radius: 2px;}
#zpa-top-searh-bar .item-mn .item-toggle:before{content:"";width: 6px;height: 6px;border-bottom: 2px solid #555;border-right: 2px solid #555;border-radius: 2px;position: absolute;right: -16px;top: 12px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);}
@media(max-width: 767px){
     #zpa-top-searh-bar .item-mn .item-toggle{margin: auto;text-align: center;}
} */

#zpa-main-container #omnibar-wrap .open>.dropdown-menu {
	left: unset !important;
}

#omnibar-wrap .dropdown-menu {
	background: #fff;
	min-width: 130px;
	width: max-content !important;
	max-width: unset !important;
	padding: 10px;
	border: 1px solid #c8c8c8;
	-webkit-box-shadow: inset 0 -2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	text-align: left;
	z-index: 902;
	margin-top: 10px;
	right: 0 !important;
	z-index: 999;
}

#omnibar-wrap .dropdown-menu .more {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#omnibar-wrap .dropdown-menu .checkbox-wrap .checkbox-row {
	width: 870px;
}

#omnibar-wrap .dropdown-menu:before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	background: #fff;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	top: -5px;
	right: 10px;
	transform: rotate(45deg);
}

#omnibar-wrap .min-price {
	padding-right: 8px;
}

#omnibar-wrap .max-price {
	padding-left: 8px;
}

.min-price input,
.max-price input {
	display: block;
	width: 110px;
	;
	height: 40px;
	padding: 5px;
}

.zpa-listing-detail #omnibar-wrap form input[type=checkbox]:checked:before,
#omnibar-wrap form input[type=radio]:checked:before {
	background-color: unset;
	background-image: none;
}

#omnibar-wrap .propstatus h3,
#omnibar-wrap .proptype h3 {
	font-size: 14px;
	font-weight: 700;
	width: max-content;
	border-bottom: 1px solid #c8c8c8;
}

.proptype ul li {
	width: max-content;
}

#omnibar-wrap input[type="radio"],
#omnibar-wrap input[type="checkbox"] {
	height: 20px;
	width: 20px;
	vertical-align: middle;
	-webkit-appearance: none;
	outline: 0;
	background: #fff;
	padding: 0;
	border: 1px solid #c8c8c8;
	border-radius: 2px;
	overflow: hidden;
}

#omnibar-wrap input[type="radio"] {
	border-radius: 50%;
}

#omnibar-wrap input[type="checkbox"]:checked {
	-webkit-appearance: checkbox;
}

#omnibar-wrap input[type="radio"]:checked {
	-webkit-appearance: radio;
}

.two-field-wrap {
	width: 100%;
	min-width: 275px;
}

.two-field-wrap select {
	min-width: 120px;
	height: 40px;
	padding: 5px;
	text-transform: none;
}

.one-field-wrap select {
	width: 280px !important;
	height: 40px;
	padding: 5px;
}

.one-field-wrap {}

.popular-features h3 {
	font-size: 16px !important;
	border-top: 1px solid #c8c8c8;
	padding-top: 20px;
	margin-top: 25px !important;
}

.action {
	margin: 10px -10px -10px -10px;
	padding: 10px;
	background: #fafafa;
	border-top: 1px solid #c8c8c8;
	height: 50px;
}

.action a.btn-more {
	padding: 0 7.5px !important;
	width: auto !important;
	line-height: 28px !important;
	border: 1px solid #c8c8c8 !important;
	border-radius: 2px !important;
	background: #f9f9f9 !important;
	color: #4A4A4A !important;
	min-height: 30px !important;
	font-size: 13px !important;
	float: left;
}

.action a.btn-show-result {
	padding: 0 7.5px !important;
	width: auto !important;
	line-height: 28px !important;
	border: 1px solid #c8c8c8 !important;
	border-radius: 2px !important;
	background: #dddddd !important;
	color: #4A4A4A !important;
	min-height: 30px !important;
	font-size: 13px !important;
	float: right;
}

#omnibar-wrap .dropdown-toggle {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0;
}

#omnibar-wrap .dropdown-toggle:after {
	content: '';
	position: absolute;
	top: 16px;
	right: 10px;
	width: 5px;
	height: 5px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
}

#omnibar-wrap .dropdown:last-child .dropdown-toggle:after {
	display: none;
}

#omnibar-wrap .search-by .dropdown-toggle:after {
	right: 7px;
	border-color: #4a4a4a;
}

#omnibar-wrap .search-by .dropdown-menu {
	right: unset !important;
}

#omnibar-wrap .search-by .dropdown-menu:before {
	right: unset;
	left: 10px;
}

#omnibar-wrap .input-column .field-wrap .field-section input {
	border: 0 !important;
	padding: 0;
	line-height: 1.8;
	/* height: 40px !important; */
	box-shadow: none;
}

#omnibar-wrap .input-column .addr,
#omnibar-wrap .input-column .school,
#omnibar-wrap .input-column .listid {
	padding: 2px 6px;
}

#omnibar-wrap .input-column .town {
	margin-bottom: 0;
}

#omnibar-wrap .input-column .field-wrap .field-section input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #a4a4a4;
}

#omnibar-wrap .input-column .field-wrap .field-section input::-moz-placeholder {
	/* Firefox 19+ */
	color: #a4a4a4;
}

#omnibar-wrap .input-column .field-wrap .field-section input:-ms-input-placeholder {
	/* IE 10+ */
	color: #a4a4a4;
}

#omnibar-wrap .input-column .field-wrap .field-section input:-moz-placeholder {
	/* Firefox 18- */
	color: #a4a4a4;
}


}
#omnibar-wrap .ms-res-item-grouped .name.area {
	padding-left: 0;
}
#omnibar-wrap .mobile-omnimbar {
	display: none;
}
#omnibar-wrap #zpa-mobile-all-input {
	height: auto;
}
.mobile-filter {
	display: none;
	position: fixed !important;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 99999999;
	height: 100vh;
}
.main-mobile-filter {
	/* height: calc(100vh - 100px); */
	
	height: calc(100vh - 82px);
	overflow: auto;
}
.cell .between {
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 10px;
}
@media(max-width: 1024px) {
	#omnibar-wrap .dropdown-toggle:after {
		display: none;
	}
}
@media(max-width: 980px) {
	#omnibar-wrap .fewer {
		width: 630px;
	}
	
	.two-field-wrap select {
		width: 304px;
	}
	
	#omnibar-wrap .fewer .col-xs-4 {
		width: 100% !important;
	}
	
	#omnibar-wrap .dropdown-menu:before {
		display: none;
	}
}
@media(max-width: 768px) {
	#omnibar-wrap .input-column {
		/* width: 100%; */
	}
	
	#omnibar-wrap .filter-column {
		width: 100%;
	}
	
	#zpa-main-container .dropdown {
		position: unset;
	}
	
	#omnibar-wrap .dropdown-menu {
		width: 95% !important;
		right: 2.5% !important;
	}
	
	#omnibar-wrap .fewer {
		width: 100%;
	}
	
	.two-field-wrap select {
		width: 100%;
	}
}
@media(max-width: 767px) {
	#zpa-view-selected-filter {
		display: none;
	}
	
	#omnibar-wrap .mobile-omnimbar #zpa-view-selected-filter {
		display: block;
	}
	
	#omnibar-wrap .desktop-omnibar {
		display: none !important;
	}
	
	#omnibar-wrap .mobile-omnimbar {
		display: block !important;
		margin-bottom: 20px;
	}
	
	.zpa-listing-detail #omnibar-wrap .mobile-omnimbar {
		/*display:none !important;*/
	}
	
	#omnibar-wrap .mobile-omnimbar button {
		font-size: 16px !important;
		line-height: 48px;
		vertical-align: middle;
		min-height: 50px;
		padding: 0;
	}
	
	#omnibar-wrap .haKWSj {
		width: 26px;
		height: 40px;
		color: #fff;
		margin-top: 4px !important;
		display: inline-block;
		fill: currentColor;
		vertical-align: top;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	#omnibar-wrap .filter-column .dropdown-group .dropdown {
		width: 100%;
	}
	
	#omnibar-wrap .filter-column .dropdown-group .dropdown .btn {
		width: 100%;
		border: 1px solid #c8c8c8;
		background: #f9f9f9;
		color: #4a4a4a;
		font-size: 16px;
	}
	
	#omnibar-wrap .dropdown.sort .dropdown-menu {
		top: 115%;
		right: 15px !important;
	}
	
	#omnibar-wrap .dropdown.sort .dropdown-menu:before {
		display: block;
	}
	
	.mobile-filter .btn-header {
		padding: 15px;
	}
	
	.mobile-filter .btn-header button {
		width: 100%;
		font-size: 16px !important;
	}
	
	.mobile-filter .btn-header button.btn {
		background: #f9f9f9 !important;
		border: 1px solid #c8c8c8 !important;
		color: #4a4a4a !important;
	}
	
	.search-type input {
		min-height: 50px;
	}
	
	.search-type {
		padding: 10px;
	}
	
	.search-type {
		padding: 15px;
		background-color: #f9f9f9;
	}
	
	.price-type input {
		width: 100% !important;
	}
	
	.mobile-filter .dropdown-menu {
		position: relative;
	}
	
	.mobile-filter .between {
		text-align: center;
		width: 100%;
		display: block;
		padding-top: 10px;
	}
	
	.mobile-filter .sub-menu {
		padding-top: 15px;
		padding-bottom: 15px;
		display: none;
	}
	
	.mobile-filter .field-wrap,
	.mobile-filter .search-wrap {
		border-top: 1px solid #c8c8c8;
	}
	
	.mobile-filter .field-wrap:last-child {
		border-bottom: 1px solid #c8c8c8;
	}
	
	.mobile-filter .field-wrap:first-child {
		border-top: 0;
	}
	
	.mobile-filter .btn-header {
		border-bottom: 1px solid #c8c8c8;
	}
	
	.mobile-filter .field-wrap button {
		text-align: left !important;
		padding: 0 15px !important;
	}
	
	.mobile-filter .field-wrap h4 {
		font-size: 16px !important;
		color: #4a4a4a;
		padding: 0;
		margin-top: 15px !important;
	}
	
	.mobile-filter .grid {
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	
	.mobile-filter .grid .cell-xs-1 {
		width: 8.33333333333%;
	}
	
	.mobile-filter .field-label {
		margin-top: 10px;
		display: block;
	}
	
	.padding-lite-right {
		padding-right: 5px !important;
	}
	
	.padding-lite-left {
		padding-left: 5px !important;
	}
	
	.mobile-filter .btn-group-toggle.grid {
		margin-bottom: 10px;
		width: 100% !important;
	}
	
	.mobile-filter .btn-group-toggle.grid .cell {
		border: 1px solid #c8c8c8 !important;
		background-color: #f9f9f9;
		color: #4a4a4a !important;
	}
	
	.mobile-filter .btn-group-toggle.grid .cell.active {
		background-color: #999;
		color: #fff !important;
	}
	
	.mobile-filter .filter-wrap .dropdown-toggle {
		text-align: left !important;
		padding-left: 15px !important;
	}
	
	.mobile-filter .search-type input {
		min-height: 30px;
	}
	
	.mobile-filter .one-field-wrap select {
		width: 100% !important;
	}
	
	#omnibar-wrap .filter-column .dropdown-group .dropdown.sort .dropdown-toggle:hover {
		color: #fff !important;
	}
	
	.zpa-listing-detail form .mobile-filter input[type=checkbox]:checked:before {
		background-color: unset !important;
		background-image: none !important;
	}
	
	#droptop button:before {
		content: '';
		height: 8px;
		width: 8px;
		position: absolute;
		right: 15px;
		top: 13px;
		border-bottom: 1px solid #4a4a4a;
		border-right: 1px solid #4a4a4a;
		transform: rotate(45deg);
	}
	
	#droptop button.opn:before {
		transform: rotate(-135deg);
	}
	
	.omnibar .input-column {
		/* width: unset !important; */
	}
	
	.omnibar .input-column .field-wrap {
		width: 100% !important;
		float: unset;
		padding-left: 0 !important;
	}
	
	.omnibar .input-column .field-wrap input {
		width: 100% !important;
	}
	
	#main-header,
	#top-header,
	#main-header .container.et_menu_container {
		z-index: auto !important;
	}
	
	.edgtf-top-bar,
	header.edgtf-mobile-header {
		z-index: 100 !important;
	}
	
	#zipperagent-content header.zy-listing__header .zy-header__inner {
		padding: 0 15px;
	}
}
@media(max-width: 540px) {
	#omnibar-wrap .mobile-omnimbar button {
		line-height: 40px;
		min-height: 40px;
	}
	
	.main-mobile-filter {
		height: calc(100vh - 74px);
	}
	
	#omnibar-wrap .haKWSj {
		margin-top: 0 !important
	}
}
#omnibar-wrap .desktop-omnibar .search-by .dropdown-menu,
#omnibar-wrap .desktop-omnibar .dropdown.beds .dropdown-menu,
#omnibar-wrap .desktop-omnibar .dropdown.baths .dropdown-menu,
#omnibar-wrap .desktop-omnibar .dropdown.sort .dropdown-menu {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#omnibar-wrap .desktop-omnibar .dropdown-menu li a,
#omnibar-wrap .desktop-omnibar .dropdown-menu li label {
	padding: 0 10px;
	display: block !important;
}
#omnibar-wrap .desktop-omnibar .dropdown-menu li:hover {
	background-color: #c0c0c0;
	color: #fff;
}
#omnibar-wrap .desktop-omnibar .dropdown-menu li:hover a {
	color: #fff;
}
#omnibar-wrap .desktop-omnibar .dropdown-menu li:hover label {
	color: #fff;
}
#omnibar-wrap .desktop-omnibar .listprice .dropdown-menu input {
	width: 100px;
}
#zpa-main-container .search-wrap .dropdown-menu,
#zpa-main-container #omnibar-wrap .ms-res-ctn.dropdown-menu {
	padding: 0 !important;
	margin-top: 0;
	width: 100% !important;
}
#zpa-main-container #omnibar-wrap .ms-res-ctn.dropdown-menu:before {
	display: none;
}
#omnibar-wrap .desktop-omnibar .dropdown .dropdown-menu {
	left: auto !important;
}
#omnibar-wrap .desktop-omnibar .dropdown.type .dropdown-menu {
	min-width: 320px;
}
#omnibar-wrap .desktop-omnibar .dropdown.listprice .dropdown-menu {
	min-width: 250px;
}
#omnibar-wrap .desktop-omnibar .dropdown.sort .dropdown-menu {
	min-width: 200px;
}
#omnibar-wrap .desktop-omnibar .dropdown.more .dropdown-menu {
	min-width: 900px;
}
.omnibar .search-by .dropdown-menu {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.omnibar .search-by .dropdown-menu li a {
	padding: 0 10px;
	display: block !important;
}
.omnibar .search-by .dropdown-menu li:hover {
	background-color: #c0c0c0;
	color: #fff;
}
.omnibar .search-by .dropdown-menu li:hover a {
	color: #fff !important;
}
.zpa-search-location {
	width: 100% !important;
	padding: 0 !important;
}
.zpa-search-location .search-by {
	position: absolute !important;
	width: 110px;
	float: left;
	border: 1px solid #ddd;
	border-right: 0;
	height: 34px;
	border-radius: 3px 0 0 3px;
	z-index: 9;
}
.zpa-search-location .field-wrap #zpa-area-address,
.zpa-search-location .field-wrap #listid,
.zpa-search-location .field-wrap #zpa-school,
.zpa-search-location .field-wrap .ms-ctn.form-control {
	border-radius: 0px 3px 3px 0px !important;
}
.zpa-search-location .field-wrap {
	width: 100%;
	padding-left: 110px;
}
.zpa-search-location .search-by button:before {
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	z-index: 999;
	top: 12px;
	right: 8px;
	border-bottom: 1px solid #4a4a4a;
	border-right: 1px solid #4a4a4a;
	transform: rotate(45deg);
}
.zpa-search-location .search-by .dropdown-menu li a {
	padding: 0 10px;
	display: block !important;
}
.zpa-search-location .search-by .dropdown-menu li:hover {
	background-color: #c0c0c0;
	color: #fff;
}
.zpa-search-location .search-by .dropdown-menu li:hover a {
	color: #fff !important;
}
.zpa-search-location .search-by button {
	line-height: 10px !important;
	min-height: 32px;
	width: 100%;
	border-radius: 0 !important;
}
.zpa-search-location input#zpa-school,
.zpa-search-location input#zpa-area-address {
	border: 1px solid #ccc !important;
	padding-top: 0 !important;
}
#zpa-main-container #zpaVirtualShowing .modal-dialog {
	max-width: 1000px;
	width: 100%;
}
#zpa-main-container #zpaVirtualShowing .modal-dialog iframe {
	width: 100%;
}

/* last add from old single css */
.zy-filter__button {
	white-space: nowrap;
	font-size: 16px;
	color: #4A4A4A
}
.btn-group .zy-ccomp {
	width: 16.766%
}
.btn-group .zy-ccomp button {
	width: 100%
}
.btn-group .zy-ccomp__dropdown+.zy-ccomp__dropdown,
.btn-group .zy-ccomp__dropdown+.btn-group,
.btn-group .zy-ccomp__dropdown+a[role=button],
.btn-group .zy-ccomp__dropdown+button,
.btn-group .zy-react-dropdown+.zy-react-dropdown,
.btn-group .zy-react-dropdown+.btn-group,
.btn-group .zy-react-dropdown+a[role=button],
.btn-group .zy-react-dropdown+button,
.btn-group .btn-group+.zy-ccomp__dropdown,
.btn-group .btn-group+.zy-react-dropdown,
.btn-group .btn-group+.btn-group,
.btn-group .btn-group+a[role=button],
.btn-group .btn-group+button,
.btn-group a+a[role=button],
.btn-group a[role=button]+.btn-group,
.btn-group button+.btn-group,
.btn-group button+button {
	margin-left: -1px
}
.btn-group>.zy-ccomp__dropdown,
.btn-group>.zy-react-dropdown,
.btn-group>.btn-group {
	float: left
}
.zy-listing-search__wrapper {
	margin-bottom: 30px;
	/* float: left; */
	
	width: 100%
}
.zy-ccomp .zy-ccomp__content {
	white-space: normal
}
.zy-ccomp.zy-ccomp__dropdown,
.zy-ccomp[data-zy-ccomp=dropdown] {
	display: inline-block
}
.zy-ccomp.zy-ccomp__dropdown.zy-ccomp--active .zy-ccomp__content,
.zy-ccomp[data-zy-ccomp=dropdown].zy-ccomp--active .zy-ccomp__content {
	display: block;
	-webkit-animation: zy-drop .3s cubic-bezier(.215, .61, .355, 1);
	animation: zy-drop .3s cubic-bezier(.215, .61, .355, 1)
}
.zy-ccomp.zy-ccomp__dropdown .zy-ccomp__content,
.zy-ccomp.zy-ccomp__dropdown .zy-react-dropdown__content,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-ccomp__content,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-react-dropdown__content {
	background: #fff;
	position: absolute;
	top: 100%;
	min-width: 230px;
	max-width: 250px;
	left: 0;
	padding: 10px;
	border: 1px solid #c8c8c8;
	box-shadow: inset 0 -2px 4px -1px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
	text-align: left;
	z-index: 902;
	margin-top: 10px;
	display: none
}
.zy-ccomp.zy-ccomp__dropdown .zy-ccomp__content:before,
.zy-ccomp.zy-ccomp__dropdown .zy-react-dropdown__content:before,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-ccomp__content:before,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-react-dropdown__content:before {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: -5px;
	left: 10px;
	background: #fff;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	border-bottom-left-radius: 3px;
	border: 1px solid #c8c8c8;
	border-right: none;
	border-top: none
}
.zy-ccomp.zy-ccomp__dropdown .zy-react-dropdown__content,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-react-dropdown__content {
	display: block
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--center,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--center {
	left: 50%;
	margin-left: -100px
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--center:before,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--center:before {
	left: 50%;
	margin-left: -5px
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--right,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--right {
	left: auto;
	right: 0
}
.zpa-listing-detail .dropdown .dropdown-menu {
	left: auto!important;
	padding: 10px!important
}
.zpa-listing-detail .dropdown .dropdown-menu li input[type=checkbox],
.zpa-listing-detail .dropdown .dropdown-menu li input[type=radio] {
	margin-right: 5px!important
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--right:before,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--right:before {
	left: auto;
	right: 10px
}
.zy-fb-login__or:before,
.zy-loading:before {
	content: '';
	left: 0
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--large,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--large {
	min-width: 405px;
	max-width: 405px
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--small,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--small {
	min-width: 150px
}
.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--small.zy-dropdown--center,
.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--small.zy-dropdown--center {
	margin-left: -75px
}
@media (max-width: 480px) {
	.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--small--mobile,
	.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--small--mobile {
		min-width: 150px
	}
	
	.zy-ccomp.zy-ccomp__dropdown .zy-dropdown--small--mobile.zy-dropdown--center,
	.zy-ccomp[data-zy-ccomp=dropdown] .zy-dropdown--small--mobile.zy-dropdown--center {
		margin-left: -75px
	}
}
.zy-ccomp.zy-ccomp__toggle.zy-ccomp--active .zy-ccomp__content,
.zy-ccomp[data-zy-ccomp=toggle].zy-ccomp--active .zy-ccomp__content {
	max-height: 999px;
	overflow: auto;
	margin-bottom: 15px;
	transition: all .15s cubic-bezier(.215, .61, .355, 1)
}
.zy-ccomp.zy-ccomp__toggle.zy-ccomp--active .zy-ccomp__content .zy-ccomp__content-inner,
.zy-ccomp[data-zy-ccomp=toggle].zy-ccomp--active .zy-ccomp__content .zy-ccomp__content-inner {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	transition: all .15s cubic-bezier(.215, .61, .355, 1)
}
.zy-ccomp.zy-ccomp__toggle.zy-ccomp--active .zy-ccomp__trigger>.zy-icon,
.zy-ccomp.zy-ccomp__toggle.zy-ccomp--active[data-zy-ccomp-trigger]>.zy-icon,
.zy-ccomp[data-zy-ccomp=toggle].zy-ccomp--active .zy-ccomp__trigger>.zy-icon,
.zy-ccomp[data-zy-ccomp=toggle].zy-ccomp--active[data-zy-ccomp-trigger]>.zy-icon {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg)
}
.zy-ccomp.zy-ccomp__toggle .zy-ccomp__trigger,
.zy-ccomp.zy-ccomp__toggle[data-zy-ccomp-trigger],
.zy-ccomp[data-zy-ccomp=toggle] .zy-ccomp__trigger,
.zy-ccomp[data-zy-ccomp=toggle][data-zy-ccomp-trigger] {
	position: relative;
	cursor: pointer;
	display: block;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-top: 1px solid #c8c8c8;
	padding: 5px 0
}
.zy-ccomp.zy-ccomp__toggle .zy-ccomp__trigger .zy-icon,
.zy-ccomp.zy-ccomp__toggle[data-zy-ccomp-trigger] .zy-icon,
.zy-ccomp[data-zy-ccomp=toggle] .zy-ccomp__trigger .zy-icon,
.zy-ccomp[data-zy-ccomp=toggle][data-zy-ccomp-trigger] .zy-icon {
	transition: -webkit-transform .15s cubic-bezier(.215, .61, .355, 1.25);
	transition: transform .15s cubic-bezier(.215, .61, .355, 1.25);
	transition: transform .15s cubic-bezier(.215, .61, .355, 1.25), -webkit-transform .15s cubic-bezier(.215, .61, .355, 1.25);
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}
.zy-ccomp.zy-ccomp__toggle .zy-ccomp__content,
.zy-ccomp[data-zy-ccomp=toggle] .zy-ccomp__content {
	max-height: 0;
	overflow: hidden;
	margin-bottom: 0;
	transition: all .15s cubic-bezier(.215, .61, .355, 1)
}
.zy-ccomp.zy-ccomp__toggle .zy-ccomp__content .zy-ccomp__content-inner,
.zy-ccomp[data-zy-ccomp=toggle] .zy-ccomp__content .zy-ccomp__content-inner {
	opacity: 0;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
	transition: all .15s cubic-bezier(.215, .61, .355, 1)
}
.zy-ccomp.zy-ccomp__toggle .zy-ccomp__content .zy-ccomp__content-inner>:last-child,
.zy-ccomp[data-zy-ccomp=toggle] .zy-ccomp__content .zy-ccomp__content-inner>:last-child {
	margin-bottom: 0
}
.zy-ccomp__menu-list {
	margin: 0 -10px;
	padding: 0;
	list-style: none
}
.zy-ccomp__menu-list a,
.zy-saved-searches__none {
	display: block;
	color: #4A4A4A;
	font-size: 12px;
	padding: 5px 10px
}
@media (min-width: 480px) {
	.zy-ccomp__menu-list a,
	.zy-saved-searches__none {
		font-size: 13px
	}
}
.zy-ccomp__menu-list a.zy-active,
.zy-ccomp__menu-list a:hover {
	color: #fff;
	background: #1d8acb
}
.zy-ccomp.zy-ccomp--full-width {
	position: static
}
.zy-ccomp.zy-ccomp--full-width .zy-ccomp__content,
.zy-ccomp.zy-ccomp--full-width .zy-react-dropdown__content {
	min-width: 100%
}
.zy-ccomp-anim-out {
	opacity: 0;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px)
}
.zy-ccomp-anim-in {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
.zy-ccomp-enter {
	opacity: 0;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px)
}
.zy-ccomp-enter.zy-ccomp-enter-active {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: .3s cubic-bezier(.215, .61, .355, 1)
}
.zy-ccomp-leave {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
.zy-ccomp-leave.zy-ccomp-leave-active {
	opacity: 0;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	transition: .3s cubic-bezier(.215, .61, .355, 1)
}
.zpa-listing-detail .ms-no-trigger {
	display: inline-block!important;
	min-height: 40px!important;
	height: auto!important
}
@media (min-width: 480px) {
	.mortgage-calculator .form__icon>.FEJtT,
	.mortgage-calculator .form__icon>.fLbDvk {
		height: 40px
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.listing-content {
		padding-top: 50px
	}
}
@media screen and (max-width: 768px) {
	#zpa-main-container .dropdown {
		position: initial
	}
	
	#zpa-main-container .open>.dropdown-menu {
		width: 95%;
		position: absolute;
		max-width: 100%;
		margin: 0 auto;
		left: 0!important
	}
	
	.zy-ccomp.zy-ccomp__dropdown .zy-ccomp__content:before,
	.zy-ccomp.zy-ccomp__dropdown .zy-react-dropdown__content:before,
	.zy-ccomp[data-zy-ccomp=dropdown] .zy-ccomp__content:before,
	.zy-ccomp[data-zy-ccomp=dropdown] .zy-react-dropdown__content:before {
		display: none
	}
	
	#map {
		overflow: hidden;
	}
	
	#zpa-top-searh-bar .btn-primary {
		overflow: hidden;
	}
}
@media screen and (max-width: 425px) {
	.btn-group .zy-ccomp {
		width: 16.915%
	}
	
	.btn-group .zy-ccomp .fa-angle-down:before {
		display: none
	}
	
	#zpa-main-container .open>.dropdown-menu {
		width: 91%
	}
}
.zy-panel__stack__sub+*,
.uk-article+.uk-article {
	border-top: 1px solid #c8c8c8
}
.zy-panel {
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	border: 1px solid #c8c8c8;
	border-radius: 2px;
	color: #4A4A4A;
	overflow: hidden
}
.zy-panel+.zy-panel {
	margin-top: 15px!important
}
.zy-panel--small {
	padding: 8px
}
.zy-panel--alt {
	box-shadow: none;
	background: #fbfbfb
}
.zy-listing-teaser--vertical-wrapper .zy-listing-teaser__locations-list,
.zy-listing-teaser__locations-list,
.zy-map-view__disclaimer,
.marker-label,
.uk-text-small {
	font-size: 12px;
	line-height: 1.5
}
.uk-text-large {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400
}
.zy-modal__close--right:after,
.uk-text-bold {
	font-weight: 700
}
.uk-text-semibold {
	font-weight: 500
}
.zy-listing-teaser--vertical-wrapper .zy-listing-teaser__locations-list,
.zy-listing-teaser__locations-list,
.zy-off-canvas-menu__close,
.uk-text-muted {
	color: #8a8a8a!important
}
.uk-text-primary {
	color: #1d8acb!important
}
.uk-text-success {
	color: #659f13!important
}
.uk-text-warning {
	color: #e28327!important
}
.uk-text-danger {
	color: #cf4647!important
}
.uk-text-left {
	text-align: left!important
}
.uk-text-right {
	text-align: right!important
}
.zy-widget__portholes,
.uk-text-center {
	text-align: center!important
}
.uk-text-justify {
	text-align: justify!important
}
.uk-text-top {
	vertical-align: top!important
}
.uk-text-middle {
	vertical-align: middle!important
}
.uk-text-bottom {
	vertical-align: bottom!important
}
@media (max-width: 959px) {
	.uk-text-center-medium {
		text-align: center!important
	}
	
	.uk-text-left-medium {
		text-align: left!important
	}
}
.uk-text-nowrap {
	white-space: nowrap
}
.zy-text-reset {
	font-size: 14px;
	line-height: 1.5
}
.zy-text-white,
.zy-text-white * {
	color: #fff
}
.zy-text-default {
	color: #4A4A4A
}
.zy-h-promo {
	font-size: 32px;
	line-height: 1.25
}
.zy-listing__feature-grid {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	overflow: hidden
}
.zy-listing__feature-grid .attr-num {
	font-size: 19px;
	line-height: 1.25;
	word-break: break-word
}
.zy-listing__feature-grid li {
	width: 50%;
	display: inline-block;
	font-size: 0;
	text-align: center;
	padding: 5px;
	border-left: 1px solid #c8c8c8;
	position: relative;
	vertical-align: middle
}
@media (min-width: 768px) {
	.zy-listing__feature-grid li {
		padding: 10px 5px
	}
	
	.zy-listing__view-switch {
		display: none
	}
}
.zy-listing__feature-grid li>div {
	font-size: 12px
}
.zy-listing__feature-grid li.expand {
	width: 100%;
	border-left: 0;
	border-top: 1px solid #c8c8c8
}
.zy-listing__feature-grid li:nth-child(odd) {
	border-left-color: transparent
}
.zy-listing__feature-grid li:nth-child(n+2) {
	border-top: 1px solid #c8c8c8
}
.zy-listing__feature-grid li:nth-child(2) {
	border-top-color: transparent
}
.zy-panel .zy-listing-table {
	border: none
}
.zy-panel .zy-listing-table td {
	border-bottom: none
}
.favorited .zy-listing-teaser__favorite-button {
	background-color: #da3430;
	border: none
}
.favorited .zy-listing-teaser__favorite-button .zy-icon {
	color: #ffd4d7
}
.uk-touch .favorited .zy-listing-teaser__favorite-button:hover {
	background-color: #da3430
}
@media (min-width: 960px) {
	.favorited .zy-listing-teaser__favorite-button:hover {
		background-color: #da3430
	}
	
	.favorited .zy-listing-teaser__favorite-button:hover .zy-icon {
		color: #fff
	}
	
	.zy-listing__header .zy-header__inner {
		border-right: 1px solid #c8c8c8;
		border-left: 1px solid #c8c8c8
	}
}
.zy-sash {
	font-size: 10px;
	font-style: normal;
	color: #fff;
	line-height: 1;
	display: inline-block;
	text-transform: uppercase;
	width: 100%
}
.foreclosure {
	background: #bb9a67
}
.new {
	background: #fff061;
	color: #4A4A4A
}
.offmarket {
	background: #545454
}
.reduced {
	background: #89cf9d
}
.shortsale {
	background: #4bacbf
}
.undercontract {
	background: #7a7a7a
}
.openhouse {
	background: #fc9725
}
.rental {
	background: #b558b7
}
.sold {
	background: #e81818
}
.pending {
	background: #d2cdc2
}
@media (min-width: 480px) {
	.zy-card-grid .zy-sash,
	.zy-card-slider .zy-sash {
		font-size: 14px
	}
}
@media (min-width: 1220px) {
	.zy-card-grid .zy-sash,
	.zy-card-slider .zy-sash {
		font-size: 16px
	}
	
	.zy-listing__header .zy-listing__favorite-container {
		right: 0
	}
}
.zy-sash.zy-listing-single__sash {
	font-size: 16px;
	min-width: 20%;
	width: auto
}
.zy-listing__header {
	text-align: left;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	height: auto
}
.zy-listing__header .zy-header__inner {
	height: auto;
	border-top: 1px solid #c8c8c8;
	min-height: 136px
}
@media (min-width: 768px) and (max-width: 959px) {
	.zy-listing__header .za-container {
		padding: 0
	}
}
.zy-listing__header-grid {
	padding: 10px 0
}
@media (min-width: 768px) {
	.zy-sash.zy-listing-single__sash {
		width: 100%
	}
	
	.zy-listing__header-grid {
		padding: 10px 0 10px 45px
	}
}
.listing-address {
	font-size: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%
}
@media (min-width: 480px) {
	.listing-address {
		font-size: 23px;
		line-height: 1.25
	}
}
.listing-address img {
	margin-left: 20px;
	max-height: 50px;
	max-width: 150px
}
@media (max-width: 768px) {
	.listing-address img {
		display: none
	}
}
.zy-listing__favorite-container {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 100px;
	height: 136px;
	top: 0;
	right: 0
}
@media (min-width: 960px) {
	.zy-listing__favorite-container {
		width: 78px
	}
	
	.zy-listing__header .zy-listing__favorite-container {
		right: 0
	}
	
	.zy-listing__agent__info__name {
		font-size: 20px
	}
}
.zy-listing-table {
	border: 1px solid #c8c8c8
}
.zy-listing-table tbody tr:nth-of-type(odd),
.zy-listing-table>.grid:nth-of-type(odd) {
	background: #f4f4f4
}
.zy-listing-table .grid>.cell,
.zy-listing-table td {
	padding: 5px
}
.zy-listing-teaser--vertical-wrapper .zy-listing-teaser__feature-text,
.zy-sash {
	text-align: center
}
.zy-listing-teaser--vertical-wrapper .zy-listing-teaser__val,
.zy-sash {
	font-weight: 700
}
@media (min-width: 768px) {
	.zy-listing__feature-grid li {
		padding: 10px 5px
	}
	
	.zy-listing__view-switch {
		display: none
	}
}
#photos .main-slider .owl-next .carousel-control {
	right: 0;
	left: unset;
}
#photos .main-slider .owl-nav .carousel-control i {
	top: 45%;
	position: relative;
}
@media(max-width: 540px) {
	#photos .main-slider .owl-nav .carousel-control i {
		top: 42%;
	}
}

/* Map Legend */
.map-legend-wrap{
	background:#fff;
	z-index:1;
}
.proptype-markers .proptype-marker {
	display: inline-block;
	margin-right: 10px;
}
.proptype-markers .proptype-marker img {
	max-height: 18px;
	width: auto;
}
.proptype-markers .proptype-marker span {
	padding-left: 3px;
	font-size: 13px;
	background: #fff;
}
.proptype-markers {position: absolute;margin-top: 10px;margin-left:10px;}
@media(max-width:767px) {
	.proptype-markers {
		display: none;
	}
}
#zy_map-explore #zpa-view-selected-filter {
	/* min-height: 44px; */
}
#zy_map-explore .prop-total, .zpa-listing-search-results .prop-total{font-size:20px; text-align:center;}
#zy_map-explore .za-refresh-map:hover{background-color:#eee !important; border:1px solid #eee !important;}
.js-listing-gallery .owl-nav{ display:none; } 