#za-main-container .za-green-bar {
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	width: 95%;
	padding: 0.4em 1em;
	text-align: left;
	font:12px arial;
	background-color: #4F800D;
}

#za-main-container .form-table.condensed td,
#za-main-container .form-table.condensed th {
	padding: 5px 0px 5px 0px;
}

#za-main-container .form-table.condensed td {
    font-size: 13px;
}

#za-main-container .za-button-large {
	height: 54px !important;
	text-align: center;
	font: 14px arial !important;
	padding-top: 10px !important;
	margin-right: 15px !important;
}

#za-main-container .za-permalink-field {
	display: none;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

#za-main-container .postbox .hndle {
	cursor: pointer !important;
}

#za-main-container .postbox .handlediv {
    float: left;
}